.rok_main {
    display: flex;
    justify-content: center;
}

.rok_button{
    border: 1px solid black;
    background-color: lightblue;
    padding: 5px;
    margin: 2px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    user-select: none;
}
.rok_button.selected {
    background-color: green;
}