.main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.lista_gazet {
    display: flex;
    width: fit-content;
    flex-flow: row;
    flex-wrap: wrap;
    flex-basis: 30%;
    flex-wrap: wrap;
    cursor: pointer;
}
.lista_okazow{
    display: flex;
    flex-flow: column;
   justify-content: center; 
   
}
.button {
    width: 40px;
    height: 20px;
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}
.lista_lat{
    display: flex;
    flex-flow: row;
    justify-content: center;
}