<div [class.czasopismo_wrapper]=true>


    <!-- {{JSON.stringify(dostepneCzasopisma, null, 5)}} -->

    <div *ngFor="let gazeta of dostepneCzasopisma" [class.czasopismo_main]=true>
        <div *ngIf='gazeta.jest; else special' [class.czasopismo_blok]=true>
            <div>
                <img [src]="'https://atarionline.pl/biblioteka/czasopisma/'+rootGazeta+'/'+gazeta.miniaturka" />
            </div>
            <div [class.small_text]=true>
                <div> format: <b>{{gazeta.format}}</b></div>
                <div>stron: <b>{{gazeta.stron}}</b></div>
                <div>plik:
                    <a href="{{'https://atarionline.pl/biblioteka/czasopisma/'+rootGazeta+'/'+gazeta.plik}}">tutaj</a>
                </div>
            </div>
            <div [class.small_text]=true>
                <div>nazwa: <br /><b>{{gazeta.nazwa}}</b></div>
                <div>numer: <br /><b>{{gazeta.numer}}</b></div>
                <div>wydawca: <br /><b>{{gazeta.wydawca}}</b></div>
            </div>
            <div [class.small_text]=true>
                <div>skan: <br /><b>{{gazeta.skan}}</b></div>
                <div>przetworzenie: <br /><b>{{gazeta.przetworzenie}}</b></div>
                <div>podesłał: <br /><b>{{gazeta.podeslal}}</b></div>
            </div>

            <!-- {"jest":false,"rok":"1986","brak":"1986"} -->
            <!-- { "jest": true,
            "rok": "1982", 
            "format": "djvu",
            "miniaturka": "Atari_Age_1982_01_male.jpg",
            "nazwa": "Atari Age", 
            "numer": "1982/1 - brak stron 3, 4, 9, 12, 13, 14",
            "plik": "Atari_Age_1982_01.djvu",
            "podeslal": "Nosty",
            "przetworzenie": "Kaz",
            "skan": "Nosty",
            "stron": "16",
            "wydawca": "the ATARI club" } -->
        </div>
        <ng-template #special>
            <div [class.czasopismo_blok]=true>
                <div [class.small_text]=true>
                    brak
                </div>
                <div [class.small_text]=true>
                    {{gazeta.brak}}
                </div>
            </div>
        </ng-template>
    </div>
</div>